<div class="ibox">
    <div class="ibox-title">
        <h5>Documentation</h5>
    </div>
    <div class="ibox-content">
        {{ include('FrontendBundle:description_api:description.html.twig') }}
    </div>
</div>