<div class="wrapper wrapper-content  animated fadeInRight" style="margin-top: 5%">
    <div class="row" id="sortable-view">
        <div class="col-lg-8">
            {{ include('FrontendBundle:project:listProjectPanel.html.twig') }}
        </div>
        <div class="col-lg-4">
            {{ include('FrontendBundle:project:detailsPanel.html.twig') }}
            {{ include('FrontendBundle:project:documentationPanel.html.twig') }}
        </div>

    </div>
</div>