ul.s-p.urls li h4 {
    padding-top: 10px;
}
ul.s-p.apisprojects li h4 {
    padding-top: 27px;
}
.landing-page #modal-new-project .nav > li > a {
    padding: 10px 20px 10px 25px;
}
.s-p .gen-key .form-control {
    width: 100% !important;
}
.gen-key .btn-primary {
    font-size: 12px;
    padding: 10px 12px;
}
.closeTab {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    position: absolute;
    right: 3px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    top: 0;
}
.closeTab:hover {
    display:inline;
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}