<div id="content-help">
    <div id="project-content" class="well">
        {{ include('FrontendBundle:help/project:project.html.twig') }}
    </div>
    <div id="add_project-content" class="well hide">
        {{ include('FrontendBundle:help/project:addProject.html.twig') }}
    </div>
    <div id="del_project-content" class="well hide">
        {{ include('FrontendBundle:help/project:deleteProject.html.twig') }}
    </div>
</div>