<img src="{{ asset('bundles/frontend/img/proyecto-help/tab-add-project.png') }}" width="100%" alt="image">
<p class="small">
    <strong>Vista del adicionar proyecto</strong>
</p>
<table class="table table-bordered table-striped">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Datos generales del proyecto</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Url(s) desde donde se va a realizar el consumo de los servicios web. El CBS por cuestiones de seguridad debe de saber desde que lugar se van a realizar las peticiones</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Usted podrá seleccionar las APIS que usted como usuario desea utilizar, cuando seleccione un api se le genera una llave de uso personal, la cual debera de enviar en cada petición</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Nombre del proyecto</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Tipo de aplicación que va a consumir los servicios</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Descripción breve de su proyecto</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Botón cancelar si presiona el botón pierde los datos que tiene</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Botón guardar si presionar este botón salva los datos el proyecto, debe tener en cuenta de llenar todos los datos</td>
    </tr>
    </tbody>
</table>