<img src="{{ asset('bundles/frontend/img/proyecto-help/delete.png') }}" width="100%" alt="image">
<p class="small">
    <strong>Eliminar un proyecto</strong>
</p>
<table class="table table-bordered table-striped">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td>SI</td>
        <td>Si selecciona la opción si el sistema eliminaqr el proyecto</td>
    </tr>
    <tr>
        <td>NO</td>
        <td>La opción NO cierra la ventana y no elimina el proyecto</td>
    </tr>
    </tbody>
</table>