<img src="{{ asset('bundles/frontend/img/proyecto-help/grid-pro.png') }}" width="100%" alt="image">
<p class="small">
    <strong>Vista del proyecto donde usted podrá gestionar los pryectos que usted tenga creado</strong>
</p>
<table class="table table-bordered table-striped">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Función para colapsar el panel</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Función utilizada para abrir el panel a pantalla completa</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Función utilizada para Adicionar un proyecto</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Número de resultados por página</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Buscador</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Opción para modificar un proyecto</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Opción para eliminar un proyecto</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Paginador</td>
    </tr>
    </tbody>
</table>